:root {
--darkbrown: rgb(203, 153, 126);
--brown: rgb(221, 190, 169);
--lightbrown:rgb(255, 232, 214);
--lightgreen:rgb(183, 183, 164);
--green:rgb(165, 165, 141);
--darkgreen: rgb(107, 112, 92);
}

* {
  box-sizing: border-box;
}

.task {
  margin: 10px;
}

.quoteContainer {
  background-color: var(--brown);
  height: 400px;
  width: auto;
  margin: 30px 0 0;
}

.quote {
  margin: auto;
  width: 50%;
  /*FOR TESTING: border: 3px solid green;*/
  padding: 100px 0;
  text-align: center;
}